@media only screen and (max-width: 1250px){
body, html {
    max-width: 97%;
}

.line_br1{
    display: inline; 
}
}

@media only screen and (max-width: 1150px){

.line_br2{
   display: inline; 
}

.osveta line_br2{
   display: inline;
}

.my_a_media ul li{
 margin-bottom:13px;
}

.ockovani ul li{
 margin-bottom:13px;
}

.osveta ul li{
 margin-bottom:13px;
}


.pracovni_doba {
    text-align: center;
}

.fyzicka_adresa {
    max-width: 300px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 64px;
    margin-right: 20px;
}


.fyzicka_adresa p {
    max-width: 300px;
    text-align: center;
    margin: 0px;
    padding: 0px 70px;

}


.fyzicka_adresa h3 {
    max-width: 300px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 5px;
    padding: 0px 70px;    
    
}

.elektronicke_kontakty {
    max-width: 300px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 190px;
    margin-right: 0px;
}


.elektronicke_kontakty h3 {
    max-width: 300px;
    text-align: center;
    margin: 0px;
    margin-left: 0px;
    padding-top: 30px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right:0px; 

}

.elektronicke_kontakty p {
    max-width: 300px;
    text-align: center;
    margin: 0px;

    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 30px;
    padding-right:0px; 
}



}

@media only screen and (max-width: 900px){
body, html {
    max-width: 96%;
}
.line_br2{
   display: inline; 
}

.fyzicka_adresa {
    max-width: 300px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 7px;
    margin-right: 10px;
}


.fyzicka_adresa p {
    max-width: 300px;
    text-align: center;
    margin: 0px;
    padding: 0px 70px;

}


.fyzicka_adresa h3 {
    max-width: 300px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 5px;
    padding: 0px 70px;    
    
}

.elektronicke_kontakty {
    max-width: 300px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 140px;
    margin-right: 0px;
}


.elektronicke_kontakty h3 {
    max-width: 300px;
    text-align: center;
    margin: 0px;
    margin-left: 0px;
    padding-top: 30px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right:0px; 

}

.elektronicke_kontakty p {
    max-width: 300px;
    text-align: center;
    margin: 0px;

    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 30px;
    padding-right:0px; 
}

.aktuality{
      text-align: center;
}

.aktuality p{
      text-align: center;
}

.aktuality b{
      text-align: center;
}

.aktuality h2{
      text-align: center;
}
 
.aktuality h3{
      text-align: center;
}

.aktuality ul  {
  display: inline-block;
  text-align: left;
}

.fotografie1
{
    max-width: 95%;
    align: center;
    background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.5)), url("../images/marble.jpg");
    background-size: contain;
    border-radius: 13px;
    margin: 20px 100px;
    padding: 50px 50px;
}

.fotografie1 {
    max-width: 95%;
    background-size: contain;
    border-radius: 13px;
    margin: 20px 10px;
    padding: 5px 5px;
}

.fotografie1 img{
    width:90%;
    }
    
.fotografie2 {
    max-width: 95%;
    background-size: contain;
    border-radius: 13px;
    margin: 20px 10px;
    padding: 5px 5px;
}

.fotografie2 img{
    width:90%;
    }
}


@media only screen and (max-width: 800px){

.fyzicka_adresa {
    margin-left: 25px;
    margin-right: 25px;
}

.elektronicke_kontakty {
    margin-left: 25px;
    margin-right: 5px;
}



.aktuality ul li {
    list-style-type:disc;
}

.nove_registrace ul li {
    list-style-type:'- ';
}


.covid_19 ul li {
    list-style-type:'+ ';
    color: #1E8449;
}

.fyzicka_adresa {
    display: none;
    }

.elektronicke_kontakty {
    display: none;
    }
.one_line_footer{
    display: block;
    font-size: 20px;
    font-style: bold;
    margin: 0px;
    padding-top: 5px;
    padding-bottom: 20px;
}

.row {
    text-align: center;
}

.peca_foto.col.span-2-of-5 {
    width: 97%;
    margin-left: 2%;
}

.peca_data.col.span-3-of-5 {
    width: 97%;
    margin-left: 2%;
}

.fyzicka_adresa {
	width: 150px;
    text-align: left;
    margin-left:0;
}

.elektronicke_kontakty {
	width: 100px;
    text-align: left;
    margin-left:10%;
}

.pracovni_doba.col.span-3-of-5  {
    width: 97%;
}

.medevio.col.span-2-of-5 {
    width: 97%;
}

footer {
padding: 0px 0px 0px 20px;
}

.mapy_cz {
    display: none;
}

.mapa_mobil {
    display: inline-block;
}
}

@media only screen and (max-width: 700px){
body, html {
    max-width: 94%;
}

}



