@media only screen and (max-width: 800px){
.row {
    text-align: center;
}

.peca_foto.col.span-2-of-5 {
    width: 97%;
    margin-left: 2%;
}

.peca_data.col.span-3-of-5 {
    width: 97%;
    margin-left: 2%;
}

.fyzicka_adresa {
	width: 150px;
    text-align: left;
    margin-left:0;
}

.elektronicke_kontakty {
	width: 100px;
    text-align: left;
    margin-left:10%;
}

.pracovni_doba.col.span-3-of-5  {
    width: 97%;
}

.medevio.col.span-2-of-5 {
    width: 97%;
}

footer {
padding: 0px 0px 0px 20px;
}

}




